<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
</head>
<body>
<div id="app">
    <form action="http://127.0.0.1:8182/user/add" method="POST" enctype="multipart/form-data">
        <p>name: <input type="text" name="fname" /></p>
        <p>age: <input type="text" name="age" /></p>
        <input type="file" name="JmImg" >
        <input type="file" name="JmImg" >
        <input type="submit" value="提交" />
    </form>
</div>
</body>
</html>